/********************************************
	RESET
********************************************/
/* -----------------------------------*/
/* ---------->>> RESET <<<-----------*/
/* -----------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

div{padding:0;border:0;margin:0;}
/*******************************************
	END RESET
*******************************************/
body{
	font: normal 12px ariel;
}
#contentPage{
	margin: 0 auto;
	width: 1150px;
	min-height: 500px;
	background-color:white;
}
#pageTop{
	height:60px;
	position:relative;
}
	#menuContainer{
		height:30px;
		position:absolute;
		top:10px;
		right:40px;
	}
#pageTopBlank{
	height:15px;
}
#contentMain{
	margin: 0 auto;
	position:relative;
}
	#contentLeft{
		float:left;
		width:200px;
		position:relative;
		}
	#contentRight{
		margin:0 0 0 200px;
		position:relative;
	}

/************************************************
	GlOBAL
************************************************/
ul{
	list-style: none;
	margin:0;
	padding:0;
}
.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear:both;
    height:0;
    font-size: 0;
    line-height: 0;
}
.alignleft{
	text-align:left;
}
.alignright{
	text-align:right;
}
.aligncenter{
	text-align:center;
}
 .shortlabel{
		width:80px;
		display:block;
	 }
	.longlabel{
		width:115px;
		display:block;
	 }
	 .itemlabel{
		width:180px;
		display:block;
	 }
/***************************************************
	MENU
***************************************************/
ul#menu li {
	float:left;
}
ul#menu li  a{
	display:block;
	padding:0 10px;
	color:black;
	font-size: 15px;
	text-decoration: none;
}
ul#menu li  a:hover{
	color:white;
}

/***************************************************
TABLE
***************************************************/

table , table th, table td{
	border-collapse: collapse;
	padding: 8px 10px  8px 8px;
	border-right:1px solid #FFFFFF;
}
table th{
  min-width: 140px;
  color: #003399;
  font:normal 13px  "Lucida Sans Unicode";
  background:none repeat scroll 0 0 #B9C9FE;
  border-bottom:1px solid #FFFFFF;
}
table td{
	min-width:100px;
	background:none repeat scroll 0 0 #E8EDFF;
	border-bottom:1px solid #FFFFFF;
	color:#666699;
	font:normal 12px  "Lucida Sans Unicode";
}

table tr:hover td{
  background:none repeat scroll 0 0 #D0DAFD;
}

table.shorttable, table.shorttable th, table.shorttable td{
		border-collapse: collapse;
	}
table.shorttable td, table.shorttable th{
	min-width:90px;
	padding: 8px 10px;
}

.fixedtable{
	width:150px;
}


/*************************************************
TEXT
*************************************************/
body{
	font:normal 12px  "Lucida Sans Unicode";
	color: black;
	background-color: #E8EDFF;
}
b{
	font: bold 13px "Lucida Sans Unicode";
}
p span{
	color: black;
	font: normal 13px "Lucida Sans Unicode";
}
h1{
	color: black;
}
input[type='submit'], .link{
	border:1px solid #003399;
	background-color:#B9C9FE;
	color:white;
	padding: 5px 10px;
}
/************************ *************************
	LEFT SIDE MENU
**************************************************/
#container{
	position:relative;
	min-height:400px;
}
#contentLeft h3{
	padding:8px 0;
	margin: 0 0 0 10px;
}
#contentLeft ul { /* remove bullets and list indent */
	list-style: none;
	margin: 0;
	padding: 0;
	border-top:1px solid #003399;
	border-right:1px solid #003399;
	border-left:1px solid #003399;
	width:168px;
	margin: 0 0 0 10px;
}

#contentLeft ul li{ /* remove bullets and list indent */
	min-width:100px;
}


#contentLeft ul a{ /* remove bullets and list indent */
	border-bottom:1px solid #003399;
	background-color:#B9C9FE;
	display:block;
	width:158px;
	text-decoration:none;
	padding: 8px 0 8px 10px;
	color: #003399;
}

#contentLeft ul a:hover{ /* remove bullets and list indent */
	background-color:white;
	width:158px;
	text-decoration:none;
	padding: 8px 0 8px 10px;
	color: black;
}
/************************ *************************
	SALES
**************************************************/
#mainLeftSales{
	float:left;
	width: 700px;
	position:relative;

}
#mainRightSales{
	position:relative;
	margin: 0 0 0 700px;
	width:200px;
}
	#mainRightSales textarea{
		width: 200px;
	}
	#sales_label li{
		display:block;
		float:left;
		text-align:center;
		background:#B9C9FE;
		border-right:1px solid white;
		padding:5px 0;
		color: black;
	  	font:normal 12px  "Lucida Sans Unicode";
	}
	#sales_label {
		margin:  0 0 5px 0;
	}
	#salediv .sale_deleteitem{
		text-align:center;
		padding: 0 20px;
	}
	#salediv .item_name{
		width:172px;
	}
	#salediv .item_unit_price{
		width:105px;
	}
	#salediv .quantity_purchased{
		width:73px;
	}
	#salediv .discount_percent, #salediv .amount{
		width:105px;
	}
	#sale_amount{
		width: 100px;
	}
/************************ *************************
	RECEIVING
**************************************************/
#mainLeftReceiving{
	float:left;
	width: 700px;
	position:relative;

}
#mainRightReceiving{
	position:relative;
	margin: 0 0 0 700px;
	width:150px;
}
#receive_append{
	margin-top:5px;
}
#receiving_label li{
	display:block;
	float:left;
	text-align:center;
	background:#B9C9FE;
	border-right:1px solid white;
	padding:5px 0;
	color: black;
  	font:normal 12px  "Lucida Sans Unicode";
}
	.r_quantity, .r_unit_cost, .r_discount{
		width:60px;
		text-align:right;
		padding-right:10px;
	}
	.r_amount, .r_cost_price{
		text-align:right;
		padding-right:10px;
	}
	.r_amount, .r_cost_price{
		width:99px;
	}
	 .r_name{
	 	width:171px;
	 }

	.receiving_deleteitem{
		width:80px;
		display:block; clear:left; float:left;line-height: 23px;
		text-align:center;
	}
	a.receiving_deleteitem:hover{
		background-color:white;
		color:black;
	}
#receive .r_name{
	margin-left:20px;

}
#receive .item_id{
	text-align:center;
	padding-left: 20px;
}

#mainRightReceiving textarea{
		width: 200px;
	}

/*************************************
	ITEM
*************************************/
#item_container p{
	line-height: 30px;
}
#item_container span{
	padding-left:10px;
}
#item_container{
	background-color:#E8EDFF;
	width:600px;
}
#item_container .field, #item_container p{
	height: 30px;
	border-bottom: 1px solid white;
}
#item_container .fieldtextarea{
	height: 85px;
	border-bottom: 1px solid white;
}
#item_container .actions{
	height: 50px;
	border-bottom: 1px solid white;
}
#item_container label{
	float:left;
	width:140px;
	text-align:right;
	padding-right:10px;
	border-right: 1px solid white;
	padding: 7px 10px 8px 0;
	line-height: 15px;
	background-color: #B9C9FE;
}
#item_container .fieldtextarea label{
	padding: 35px 10px 35px 0;
}
#item_container .actions label{
	padding: 19px 10px 16px 0;
}


#item_container input[type='text'],#item_container input[type='password'], #item_container textarea, #item_container select{
	width:220px;
	margin-left: 15px;
	margin-top: 3px;
}
#item_container input[type='submit']{
	margin: 10px 0 0 15px;
}
/**********************************
INFO
**********************************/
#info p{
	line-height: 25px;
}
#info span{
	padding-left:10px;
}
#info{
	background-color:#E8EDFF;
	width:400px;
}
#info .field, #info p{
	height: 25px;
	border-bottom: 1px solid white;
}


#info label{
	float:left;
	width:140px;
	text-align:right;
	padding-right:10px;
	border-right: 1px solid white;
	padding: 5px 10px 5px 0;
	line-height: 15px;
	background-color: #B9C9FE;
	font-weight: bold;
}

