<!DOCTYPE html>
<html>
<head>
  <title>POS</title>

  <%= csrf_meta_tag %>
</head>
<body>
<div id="contentPdf">
fffffffffffffff
</div>
</body>
</html>
<style>
#contentPdf{
  margin: 0 auto;
  background-color:green;
}
</style>

